In [2]:
import gregw

In [7]:
df = gregw.dataset()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
rain            8 non-null int64
some_num        7 non-null float64
some_str        7 non-null object
sprinkler       8 non-null int64
wet_sidewalk    8 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 392.0+ bytes

The dummy data set is missing two data points, one numeric value and one categorical data point. To fix this I will use the categorical imputer and then the regressionary imputer.

In [5]:
gregw.impute_cal('some_str', df)

gregw.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  pred.drop(col1, axis = 1, inplace = True)
gregw.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train.drop(col1, axis = 1, inplace = True)

   rain  some_num some_str  sprinkler  wet_sidewalk
0     0       1.1        B          0             0
1     0       NaN        A          1             1
2     1       0.2        A          1             1
3     1      -0.4        A          0             1
4     1       0.1        A          1             1
5    -1       0.2        A          0             1
6     0       0.0        A          1            -1
7    -1       3.9        A         -1             0

In [11]:
gregw.impute_reg('some_num', df)

   rain  some_num some_str  sprinkler  wet_sidewalk
0     0   1.10000        B          0             0
1     0   0.00611        A          1             1
2     1   0.20000        A          1             1
3     1  -0.40000        A          0             1
4     1   0.10000        A          1             1
5    -1   0.20000        A          0             1
6     0   0.00000        A          1            -1
7    -1   3.90000      NaN         -1             0

In [14]:
df1 = gregw.dataset1()
df1

   rain  some_num some_str  sprinkler  wet_sidewalk
0     0       1.1        B          0             0
1     0     -10.0        A          1             1
2     1       0.2        A          1             1
3     1      -0.4        A          0             1
4     1       0.1        A          1             1
5    -1       0.2        A          0             1
6     0       0.0        A          1            -1
7    -1       3.9     Cars         -1             0

In this data set labeled "dataset1" the values that are "missing" have been set to "-10" for the "some_num" 
column and "Cars" for "some_str".

In [18]:
gregw.impute_reg('some_num', df1, -10)

   rain  some_num some_str  sprinkler  wet_sidewalk
0     0   1.10000        B          0             0
1     0   0.00611        A          1             1
2     1   0.20000        A          1             1
3     1  -0.40000        A          0             1
4     1   0.10000        A          1             1
5    -1   0.20000        A          0             1
6     0   0.00000        A          1            -1
7    -1   3.90000     Cars         -1             0

In [19]:
gregw.impute_cal('some_str', df1, 'Cars')

   rain  some_num some_str  sprinkler  wet_sidewalk
0     0   1.10000        B          0             0
1     0   0.00611        A          1             1
2     1   0.20000        A          1             1
3     1  -0.40000        A          0             1
4     1   0.10000        A          1             1
5    -1   0.20000        A          0             1
6     0   0.00000        A          1            -1
7    -1   3.90000        A         -1             0